<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <title>User account</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="general_div">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/index">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Menu</a>

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/about">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Sign-in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="about">
        <h5>User account</h5>
        <!--<a href="/logout">Выйти из личного кабинета</a>-->
        <form method="post" th:action="@{/logout}">
            <input class="w-100 btn btn-lg btn-primary" style="width:300px!important" type="submit"
                   value="Log Out">
        </form>
        <p></p>
        <form method="get" th:action="@{/cart}">
            <input class="w-100 btn btn-lg btn-primary" style="width:200px!important" type="submit" value="Cart">
        </form>
        <p></p>
        <form method="get" th:action="@{/orders}">
            <input class="w-100 btn btn-lg btn-primary" style="width:200px!important" type="submit" value="Orders">
        </form>

        <form th:method="POST" th:action="@{/product/search1}">
            <fieldset>
                <legend>Select options for sorting, searching, filtering</legend>
                <br>
                <label for="search">Search by name</label>
                <input type="search" name="search1" th:value="*{value_search1}" id="search">
                <br>
                <p>Price, $</p>
                <label for="from1">from</label>
                <input type="text" name="from1" th:value="*{value_price_from1}" id="from1">
                <label for="to1">to</label>
                <input type="text" name="to1" th:value="*{value_price_to1}" id="to1">
                <br>
                <br>
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">Sort by price ascending</label>
                <br>
                <br>
                <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                <label for="descending_price">Sort in descending order by price</label>
                <br>
                <hr>
                <p>Product category</p>
                <input type="radio" id="furniture" name="category" value="Alcohol">
                <label for="furniture">Alcohol</label>
                <br>
                <br>
                <input type="radio" id="appliances" name="category" value="Non alcohol">
                <label for="appliances">Non alcohol</label>
                <br>
                <br>
                <input type="submit" class="w-100 btn btn-lg btn-primary" style="width:150px!important" value="Search">
            </fieldset>
        </form>

        <h5>Result: </h5>
        <div th:each="product : ${search_product1}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p th:text="'Price: ' + ${product.getPrice()}"></p>
        </div>
        <hr>

        <h5>Available Item: </h5>
        <div class="product" th:each="product : ${products}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Add to Cart</a>
<!--            <br>
            <br>-->
            <hr>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/auth/index" class="nav-link px-2 text-muted">Main</a></li>
                    <li class="nav-item"><a href="/product" class="nav-link px-2 text-muted">Menu</a></li>
                    <li class="nav-item"><a href="/auth/about" class="nav-link px-2 text-muted">News</a></li>
                    <li class="nav-item"><a href="/auth/login" class="nav-link px-2 text-muted">Sign-in</a></li>
                </ul>
            </footer>
        </div>

    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>